html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
* {
  box-sizing: inherit;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
a:focus,
.button:focus,
button:focus {
  text-decoration: none;
  outline: none;
}
a:focus {
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: none !important;
}
a {
  text-decoration: none !important;
}
a.white {
  color: #f9fafb !important;
}

a.black {
  color: #111827 !important;
}

a.primary {
  color: #2d2d2d !important;
}

.background {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(
      to right,
      rgba(45, 45, 45, 0.8),
      rgba(45, 45, 45, 0.8)
    ),
    url('../assets/city-skyline.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main_div {
  color: #f9fafb;
  display: flex;
  justify-content: space-between;
}
.logo_left {
  font-size: 1.4rem;
  color: #f9fafb;
  margin-left: 30px;
  margin-top: 1.8rem;
}
.logo_com {
  margin-left: 5px;
  padding: 5px;
  border-radius: 0.45rem;
  color: #f9fafb;
  background-color: #7b3fe4;
}
.logo_right {
  padding-top: 1.8rem;
  display: flex;
  font-size: 1rem;
  color: #f9fafb;
  margin-right: 50px;
}
.logo_right .Candidate_login_btn {
  padding: 10px;
  border-radius: 0.45rem;
  background-color: #7b3fe4;
  margin-right: 0.5rem;
}
.logo_right .Recruiter_login_btn {
  padding: 10px;
  border-radius: 0.45rem;
  background-color: #2d2d2d;
}
label > a {
  text-decoration: none;
  color: #f9fafb;
}
label > a :hover {
  text-decoration: none;
  color: #f9fafb;
}
.searchBox {
  position: absolute;
  top: calc(50% - 30px);
  left: 10%;
  height: 60px;
  width: 80%;
}
.inner {
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(249, 250, 251, 0.3);
  display: flex;
}
.inner input {
  margin: 0px;
  padding: 10px;
  font-size: 1rem;
  width: 49%;
  height: 60px;
  border: 1px solid rgba(17, 24, 39, 0.2);
  border-right: none;
}
.primary-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  padding: 12px;
  margin-bottom: 10px;
}
.radius-left {
  border-radius: 10px 0 0 10px;
}
.radius-right {
  border-radius: 0px 10px 10px 0px;
}
.inner input:focus {
  outline: none;
}
.inner button {
  padding: 5px;
  border: 1px solid rgba(17, 24, 39, 0.2);
  border-left: none;
  background-color: #f9fafb;
}
.inner button > i {
  width: 50px;
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #7b3fe4; /* changed saffron to purple */
  color: #f9fafb;
  font-size: 14px;
}
.copy-right {
  color: #f9fafb;
  position: absolute;
  bottom: 0;
  padding: 10px;
  height: 50px;
  width: 100%;
  text-align: center;
}
/* Navbar */
header.navbar {
  height: 80px;
  background-color: #2d2d2d;
}
header .navbar-nav {
  padding: 9px;
}
header.navbar > label {
  margin-left: 3%;
}
label.nav-item {
  color: #f9fafb;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 0;
}
ul.navbar-nav li.nav-item a {
  color: #f9fafb !important;
}
ul.navbar-nav li.nav-item.active a {
  color: #7b3fe4 !important;
}
.navbar button.myBtn-light {
  margin: 0 1.25rem;
}
a.nav-link > i {
  margin-right: 8px;
  margin-left: 15px;
}

section.section {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: calc(100% - 80px);
}

.sidenav {
  overflow: auto;
  background-color: #2d2d2d;
  padding-top: 20px;
  color: #f9fafb;
  width: 300px;
  flex: 0 0 auto;
}
label.color-dull {
  color: #64748b;
}

div.sidenav form .form-check {
  margin: 5px;
  font-weight: 300;
}

article {
  padding: 10px;
  background-color: #f3f4f6;
  flex: 1 1 auto;
  overflow-y: auto;
}
div.box {
  border-radius: 25px;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}
.box .job-row:hover {
  transition: all 100ms ease-in-out;
  transform: scale(1.01);
  opacity: 1;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
label.large-label {
  font-style: medium;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  color: #111827;
}
.job-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d2d2d;
}
.job-row {
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  align-items: center;
  padding: 8px;
  margin: 20px 10px;
}
.job-row div label {
  display: block;
  margin: 0;
  padding: 5px;
}

.form-group select.form-control {
  height: 54px !important;
}
/*          login           */
.hidden-overflow {
  overflow: hidden;
}
.coffee_mug_background {
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(
      to right,
      rgba(45, 45, 45, 0.5),
      rgba(45, 45, 45, 0.5)
    ),
    url('../assets/coffee-mug.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.myForm {
  display: flex;
  padding: 20px 0;
  overflow-y: auto;
  justify-content: center;
}
.myForm > form {
  width: 80%;
  height: 50%;
}
.myForm > form input {
  padding: 15px 10px;
  margin: 4px 0;
  line-height: 140%;
  border: 1px solid rgba(17, 24, 39, 0.15);
  border-radius: 5px;
}
.basic_select {
  padding: 15px 10px;
  line-height: 140%;
}
.job_Spec_box {
  padding: 5px;
  display: flex;
  border: 1px solid rgba(17, 24, 39, 0.15);
}
.top-margin {
  margin-top: 25%;
}

.heading_font {
  font-family: 'Montserrat';
}
.font_sub_heading_color {
  color: #2d2d2d;
  text-transform: uppercase;
}
.base_button {
  background-color: #7b3fe4;
  border: none;
}

#check:checked::before {
  color: #7b3fe4;
  border: #7b3fe4;
}

.myBtn {
  background-color: #7b3fe4;
  border: none;
  border-radius: 5px;
  color: #f9fafb;
  width: 100%;
  padding: 2%;
  font-weight: bolder;
  font-size: large;
  height: 100%;
}
.myBtn-light {
  box-sizing: border-box;
  background-color: #7b3fe4;
  border: none;
  border-radius: 5px;
  color: #f9fafb;
  padding: 5px 10px;
  display: inline;
  font-weight: bold;
}
a.color-text,
a.color-text:hover {
  color: #7b3fe4;
}

.btn-sec.btn-red {
  background: #7b3fe4;
}
.btn-sec.btn-black {
  background: #2d2d2d;
}
.candidatesApplied {
  font-family: 'Montserrat';
  font-style: normal;
  padding: 15px;
  background-color: #2d2d2d;
  color: #f9fafb;
  border-radius: 10px;
  line-height: 0.75;
}

.btn-sec.btn-red {
  background: #7b3fe4;
  color: #f9fafb;
}
.btn-sec.btn-black {
  background: #2d2d2d;
  color: #f9fafb; 
}
